.principal {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding: 25px;
    justify-content: space-evenly;

    .descripcion {
        display: grid;
        justify-content: center;
        align-content: center;

        p {
            display: flex;
            flex-direction: row;
            width: 75%;
            height: 100%;
            padding: 30px;
            font-size: 2.8rem;
            color: #373d46;
            text-align: center;
            font-style: italic;
            font-family: 'el nautigal';
            justify-content: center;
        }
        }

    }

    /*.descripcion 
    animation-name: textoDescripcion;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5S;
    animation-delay: 2s;
          }

@keyframes textoDescripcion{
    0%{font-weight: normal}
    
    100%{font-weight: bold}
} */

    .imagenIndex1 {
        width: 100%;
        height: 100%;
    }

    .imagenIndex2 {
        width: 100%;
        height: 100%;
    }

    .imagenIndex3 {
        width: 100%;
        height: 100%;
    }

    .imagenIndex4 {
        width: 100%;
        height: 100%;
    }

    .imagenesDescripcion {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 3fr 3fr;

        justify-content: space-evenly;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }