*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #ffae9b 
}

@import "header";
@import "nav";
@import "variables";
@import "footer";
@import "index";